@import 'mixins/responsiveness.scss';
@import 'mixins/colors.scss';

body.admin {
	header {
		background: #000;
		padding: 10px;
		position: relative;
		.logo {
			width: 100px;
		}
		ul {
			margin: 0; padding: 0;
			li {
				color: #fff;
				display: inline-block; 
				vertical-align: middle
			}
		}
		nav {
			width: calc(100% - 140px);
		}
	}

	section {
		.styled-form { text-align: center; }
		.styled-form, .add-video {
			border-bottom: 1px solid $gray;
			border-top: 1px solid $gray;
			padding: 20px 0;
		 	input, label, textarea {
		 		font-size: 1.1em;
		 		display: inline-block;
		 		width: 90%;
		 		padding: 10px;
			}
		 	button {
		 		font-size: 1.1em;
		 		&:disabled { opacity: 0.5; }
		 	}
			@include breakpoint(tablet) {
				input, textarea { width: 300px; }
			}
			@include breakpoint(tablet-wide) {
				input, textarea { width: 400px; }
			}
		}
		.add-video {
			input, textarea, label { width: 100%; }
			label {
				text-align: left;
				color: #aaa;
				font-size: 0.9em; 
				padding: 0;
				&.dark-label {
					color: #000;
				}
			}
		}
		fieldset {
			border: 0; padding: 0; margin: 0 0 1em;
			&.inline-fieldsets {
				display: inline-block;
				vertical-align: middle;
				&:after {
					content: '|';
				}
			}
			&.inline-labels {
				input, label {
					display: inline-block;
					vertical-align: middle;
					width: auto;
				}
			}
		}
		.thumbnail-preview {
			width: 300px;
			img { width: 100%; }
		}
		.error-messages {
			text-align: left;
			color: #f00;
		}

		&.logo-manager {
			.logo-uploader {
				margin: 10px 0;
				border-top: 1px solid $gray;
				border-bottom: 1px solid $gray;
				h2 { margin: 10px; }
			}
		}
		&.logo-list, .content-list{
			table{
				width: 100%;
				border-collapse: collapse;
			}
			table, th, td{ border: 1px solid $gray; }
			th {
				padding: 10px;
				font-weight: 800;
				border-bottom: 2px solid $dark-gray
			}
			tr, td{ padding: 5px; text-align: center; }
			tbody tr:nth-child(odd) { background-color: $light-gray;}
			thead tr{ background-color: $gray-two; }
			img { width: 100px; }
		}
	}


}
