@import 'mixins/colors.scss';
@import 'mixins/constants.scss';
@import 'mixins/responsiveness.scss';

.button {
	display: inline-block;
	font-weight: 400;
	border-radius: 25px;
	font-size: 1.2em;
	border: 2px solid #fff;
	width: 80%;
	padding: 10px 30px;
	margin: 5px 0;
	@include breakpoint(tablet) {
		margin: 0 20px;
		width: 200px;
	}
	@include breakpoint(desktop-wide) {
		width: 250px;
		border-radius: 50px;
		font-size: 1.75em;
		border: 4px solid #fff;
	}
	&.drop-shadow { text-shadow: 0 0 5px rgba(0,0,0,0.5); }
	&.white {
		color: #fff;
	}
	&.dark-opaque {
		background: rgba(0,0,0,0.2);
		@include breakpoint(desktop-wide) {
			background: rgba(0,0,0,0.4);
		}
	}
	&.light-opaque {
		background: rgba(0,0,0,0.1);
		color: #111
	}
	&.to-gold-bg{ transition: background 200ms; }
	&.to-gold-bg:hover{ background-color: $gold; }
}