@import 'mixins/colors.scss';
@import 'mixins/constants.scss';
@import 'mixins/responsiveness.scss';

.button {
	display: inline-block;
	font-weight: 400;
	border-radius: 25px;
	font-size: 1.2em;
	border: 2px solid #fff;
	width: 80%;
	padding: 10px 30px;
	margin: 5px 0;
	outline: 0;
	@include breakpoint(tablet) {
		margin: 0 20px;
		width: 200px;
	}
	@include breakpoint(desktop-wide) {
		width: 250px;
		border-radius: 50px;
		font-size: 1.75em;
		border: 4px solid #fff;
	}
	&.dynamic-width { width: auto; }
	&.small-padding{ padding: 5px; }
	&.oneline{ white-space: nowrap;}
	&.drop-shadow { text-shadow: 0 0 5px rgba(0,0,0,0.5); }
	&.white {
		color: #fff;
	}
	&.gold {
		color: $gold;
		border: 2px solid $gold;
	}
	&.gray {
		color: $gray-two;
	}
	&.gray-border {
		border: 2px solid $gray-two;
	}
	&.dark-opaque {
		background: rgba(0,0,0,0.2);
		@include breakpoint(desktop-wide) {
			background: rgba(0,0,0,0.4);
		}
	}
	&.light-opaque {
		background: rgba(0,0,0,0.1);
		color: #111
	}
	&.transparent-bg{
		background: transparent;
	}
	&.to-gold-bg{
		transition: background 200ms;
		&:hover{ background-color: $gold; }
	}
	&.to-gold-border {
		&:hover, &.active{
			border-color: $gold;
		}
	}
	&.to-gold-text {
		&:hover, &.active{
			color: $gold;
		}
	}
	&.to-gray-bg{
		transition: background 200ms;
		&:hover{ background-color: $light-gray; }
	}
	&.active-state{
		&.active{
			background-color: $light-gray;
		}
	}
	&.no-side-margin{ margin-left: 0; margin-right: 0; }
	&.sm-bottom-margin{ margin-bottom: 5px; }
}