@import 'mixins/colors.scss';
@import 'mixins/constants.scss';
@import 'mixins/responsiveness.scss';

.hero {
	padding-top: 110px;
	padding-bottom: 20px;
	background-image: url('/assets/images/backgrounds/hero_medium_blur.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: #fff;
	text-align: center;
	position: relative;
	@include breakpoint(tablet) {
		padding-top: 90px;
	}
	&.large-header {
		@include breakpoint(tablet) {
			height: 700px;
		}
		@include breakpoint(desktop-wide) {
			height: 800px;
		}
	}
	h1 {
		text-shadow: 0px 0px 40px rgba(0,0,0,0.5);
		font-size: 1.5em;
		margin: 0;
		@include breakpoint(tablet) {
			font-size: 3em;
		}
		@include breakpoint(desktop-wide) {
			font-size: 3.5em;
		}
	}
	&.small-header {
		height: auto;
		h1 {
			font-size: 1.5em;
			@include breakpoint(tablet) {
				font-size: 2em;
			}
		}
	}
	span {
		display: block;
		margin-bottom: 0em;
		@include breakpoint(tablet) {
			margin-bottom: 0.75em;
		}
	}
	.actions {
		padding: 10px 0 20px;
		@include breakpoint(tablet) {
			padding-top: 30px;
			padding-bottom: 4px;
		}
	}
	h1, .actions{
		position: relative;
		z-index: 1
	}
	.dark-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 0;
		background: rgba(0,0,0,0.2);
	}
}
@include breakpoint(tablet) {
	.mid-float {
		transform: translateY(-50%);
		top: 50%;
		position: absolute;
		z-index: 1;
		overflow: hidden;
		width: 100%;
	}
}