@import 'mixins/colors.scss';
@import 'mixins/constants.scss';
@import 'mixins/responsiveness.scss';

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10px 0;
	z-index: 1;
}

.logo, nav {
	display: inline-block;
	vertical-align: middle;
}

.logo {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/assets/images/logo/rwp_logo_400.png');
	position: relative;
	display: block;
	width: 200px;
	margin: 0 auto;
	@include breakpoint(tablet) {
		margin: 0;
		display: inline-block;
	}
	&.sm { background-image: url('/assets/images/logo/rwp_logo_200.png'); }
	&.large { background-image: url('/assets/images/logo/rwp_logo_800.png'); }
	&.xl { background-image: url('/assets/images/logo/rwp_logo_full.png'); }
	&:before{
		content: '';
		padding-bottom: $navigational-padding;
		display: block;
	}
}

nav {
	width: 100%;
	text-align: center;
	margin: 10px 0;
	@include breakpoint(tablet) {
		margin: 0px;
		// 100% full width - 200px logo width - (10px * 2) padding width
		width: calc(100% - 200px - 20px);
		text-align: right;
	}
	a {
		$transition_speed_nav_a: 400ms;
		color: $nav-default;
		text-decoration: none;
		transition: color $transition_speed_nav_a;
		position: relative;
		&:before {
			content: '';
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: -5px;
			opacity: 0;
			border-bottom: 1px solid $gold;
			transition: opacity $transition_speed_nav_a, bottom $transition_speed_nav_a;
		}
		&:not(:last-child) { margin: 0 30px 0 0; }
		&:hover {
			color: $gold;
			&:before {
				bottom: 0px;
				opacity: 1;
			}
		}
	}
}