@import 'mixins/colors.scss';
@import 'mixins/responsiveness.scss';

section {
	&.gray-block { background: #eee; }
	&.section-padding {
		padding: 0.75em 0;
		h2 { margin: 0; }
	}
}

.constrain {
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	@include breakpoint(desktop) {
		width: 100%;
		max-width: 1200px;
	}
}

.full-constrain {
	padding: 10px;
	width: 100%;
}

.border-bottom {
	border-bottom: 1px solid $gray;
}

.video-player {
	width: 100%;
	position: relative;
	margin: 0 0 1em;
	&:before {
		content: '';
		padding-bottom: 56.25%;
		display: block;
	}
	iframe { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.hidden { display: none; }
