@import 'mixins/colors.scss';
@import 'mixins/responsiveness.scss';

.constrain {
	margin: 0 auto;
	padding: 0 10px;
	@include breakpoint(desktop) {
		width: 100%;
		max-width: 1200px;
	}
}

.full-constrain {
	padding: 10px;
	width: 100%;
}

.border-bottom {
	border-bottom: 1px solid $gray;
}