@import 'mixins/responsiveness.scss';

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
h2 {
	font-size: 1.5em;
	@include breakpoint(desktop) {
		font-size: 2em;
	}
}
p, li {
	font-size: 1.1em;
	line-height: 1.5em;
	@include breakpoint(desktop-wide) {
		font-size: 1.3em;
		line-height: 1.8em;
	}
}
.light, .light * { font-weight: 300; }
.bold, .bold * { font-weight: 600; }

.text-center { text-align: center; }
.text-right { text-align: right; }