@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.debugger {
  background: #f00;
  width: 100%;
  padding: 10px; }
  .debugger:before {
    display: block; }
  @media (max-width: 600px) {
    .debugger:before {
      content: 'mobile'; } }
  @media (min-width: 601px) {
    .debugger:before {
      content: 'tablet'; } }
  @media (min-width: 768px) {
    .debugger:before {
      content: 'tablet-wide'; } }
  @media (min-width: 1024px) {
    .debugger:before {
      content: 'desktop'; } }
  @media (min-width: 1377px) {
    .debugger:before {
      content: 'desktop-wide'; } }
  @media (min-width: 1900px) {
    .debugger:before {
      content: 'desktop-super-wide'; } }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  transition: background-color 200ms, color 200ms;
  font-weight: 300; }

button {
  cursor: pointer; }

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h2 {
  font-size: 1.5em; }
  @media (min-width: 1024px) {
    h2 {
      font-size: 2em; } }

p, li {
  font-size: 1.1em;
  line-height: 1.7em; }
  @media (min-width: 1377px) {
    p, li {
      font-size: 1.3em;
      line-height: 1.8em; } }

.light, .light * {
  font-weight: 300; }

strong, .bold, .bold * {
  font-weight: 600; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-small {
  margin: 0.3em auto;
  font-size: 1em; }
  @media (min-width: 601px) {
    .text-small {
      font-size: 0.85em; } }
  @media (min-width: 768px) {
    .text-small {
      font-size: 1em; } }

.reduce-margin {
  margin: 0.5em auto; }

.to-gold {
  transition: color 200ms; }
  .to-gold:hover {
    color: #CB9B41; }

section.gray-block {
  background: #eee; }
section.section-padding {
  padding: 0.75em 0; }
  section.section-padding h2 {
    margin: 0; }

.constrain {
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .constrain {
      width: 100%;
      max-width: 1200px; } }

.full-constrain {
  padding: 10px;
  width: 100%; }

.border-bottom {
  border-bottom: 1px solid #DDDDDD; }

.video-player {
  width: 100%;
  position: relative;
  margin: 0 0 1em; }
  .video-player:before {
    content: '';
    padding-bottom: 56.25%;
    display: block; }
  .video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.column-layout .column {
  padding: 10px; }
@media (min-width: 601px) {
  .column-layout {
    display: flex;
    flex-wrap: nowrap; }
    .column-layout .column {
      flex: 1; } }

.featured-media {
  background: #ccc; }
  @media (min-width: 601px) {
    .featured-media {
      width: 55%;
      max-width: 650px;
      margin: 1.5em 0.85em; }
      .featured-media.float-right {
        float: right; }
      .featured-media.float-left {
        float: left; } }
  .featured-media:after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
    width: 100%; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden;
  white-space: nowrap; }

.gray-text {
  color: #B1B1B1; }

.padding-top-10 {
  padding-top: 10px; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px 0;
  z-index: 1; }

.logo, nav {
  display: inline-block;
  vertical-align: middle; }

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/images/logo/rwp_logo_400.png");
  position: relative;
  display: block;
  width: 200px;
  margin: 0 auto; }
  @media (min-width: 601px) {
    .logo {
      margin: 0;
      display: inline-block; } }
  .logo.sm {
    background-image: url("/assets/images/logo/rwp_logo_200.png"); }
  .logo.large {
    background-image: url("/assets/images/logo/rwp_logo_800.png"); }
  .logo.xl {
    background-image: url("/assets/images/logo/rwp_logo_full.png"); }
  .logo:before {
    content: '';
    padding-bottom: 25.5%;
    display: block; }

nav {
  width: 100%;
  text-align: center;
  margin: 10px 0; }
  @media (min-width: 601px) {
    nav {
      margin: 0px;
      width: calc(100% - 200px - 20px);
      text-align: right; } }
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 400ms;
    position: relative; }
    nav a:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -5px;
      opacity: 0;
      border-bottom: 1px solid #CB9B41;
      transition: opacity 400ms, bottom 400ms; }
    nav a:not(:last-child) {
      margin: 0 30px 0 0; }
    nav a:hover {
      color: #CB9B41; }
      nav a:hover:before {
        bottom: 0px;
        opacity: 1; }

.button {
  display: inline-block;
  font-weight: 400;
  border-radius: 25px;
  font-size: 1.2em;
  border: 2px solid #fff;
  width: 80%;
  padding: 10px 30px;
  margin: 5px 0;
  outline: 0; }
  @media (min-width: 601px) {
    .button {
      margin: 0 20px;
      width: 200px; } }
  @media (min-width: 1377px) {
    .button {
      width: 250px;
      border-radius: 50px;
      font-size: 1.75em;
      border: 4px solid #fff; } }
  .button.dynamic-width {
    width: auto; }
  .button.small-padding {
    padding: 5px; }
  .button.oneline {
    white-space: nowrap; }
  .button.drop-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .button.white {
    color: #fff; }
  .button.gold {
    color: #CB9B41;
    border: 2px solid #CB9B41; }
  .button.gray {
    color: #B1B1B1; }
  .button.gray-border {
    border: 2px solid #B1B1B1; }
  .button.dark-opaque {
    background: rgba(0, 0, 0, 0.2); }
    @media (min-width: 1377px) {
      .button.dark-opaque {
        background: rgba(0, 0, 0, 0.4); } }
  .button.light-opaque {
    background: rgba(0, 0, 0, 0.1);
    color: #111; }
  .button.transparent-bg {
    background: transparent; }
  .button.to-gold-bg {
    transition: background 200ms; }
    .button.to-gold-bg:hover {
      background-color: #CB9B41; }
  .button.to-gold-border:hover, .button.to-gold-border.active {
    border-color: #CB9B41; }
  .button.to-gold-text:hover, .button.to-gold-text.active {
    color: #CB9B41; }
  .button.to-gray-bg {
    transition: background 200ms; }
    .button.to-gray-bg:hover {
      background-color: #f7f7f7; }
  .button.active-state.active {
    background-color: #f7f7f7; }
  .button.no-side-margin {
    margin-left: 0;
    margin-right: 0; }
  .button.sm-bottom-margin {
    margin-bottom: 5px; }

.hero {
  padding-top: 110px;
  padding-bottom: 20px;
  background-image: url("/assets/images/backgrounds/hero_medium_blur.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative; }
  @media (min-width: 601px) {
    .hero {
      padding-top: 90px; } }
  @media (min-width: 601px) {
    .hero.large-header {
      height: 700px; } }
  @media (min-width: 1377px) {
    .hero.large-header {
      height: 800px; } }
  .hero h1 {
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    margin: 0; }
    @media (min-width: 601px) {
      .hero h1 {
        font-size: 3em; } }
    @media (min-width: 1377px) {
      .hero h1 {
        font-size: 3.5em; } }
  .hero.small-header {
    height: auto; }
    .hero.small-header h1 {
      font-size: 1.5em; }
      @media (min-width: 601px) {
        .hero.small-header h1 {
          font-size: 2em; } }
  .hero span {
    display: block;
    margin-bottom: 0em; }
    @media (min-width: 601px) {
      .hero span {
        margin-bottom: 0.75em; } }
  .hero .actions {
    padding: 10px 0 20px; }
    @media (min-width: 601px) {
      .hero .actions {
        padding-top: 30px;
        padding-bottom: 4px; } }
  .hero h1, .hero .actions {
    position: relative;
    z-index: 1; }
  .hero .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.2); }

@media (min-width: 601px) {
  .mid-float {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 100%; } }
.featured-videos, .testimonial-videos {
  padding: 0 0 0.5em; }
  .featured-videos ul, .featured-videos li, .testimonial-videos ul, .testimonial-videos li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .featured-videos .videos ul, .testimonial-videos .videos ul {
    display: flex;
    flex-wrap: wrap; }
  .featured-videos .videos .video-select, .testimonial-videos .videos .video-select {
    width: 100%;
    vertical-align: top;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0 0 5px; }
    @media (min-width: 601px) {
      .featured-videos .videos .video-select, .testimonial-videos .videos .video-select {
        width: 50%;
        margin: 0; } }
    @media (min-width: 768px) {
      .featured-videos .videos .video-select, .testimonial-videos .videos .video-select {
        width: 33.3333%; } }
    .featured-videos .videos .video-select:before, .testimonial-videos .videos .video-select:before {
      position: relative;
      padding-bottom: 56.25%;
      width: 100%;
      display: block;
      content: ''; }
    .featured-videos .videos .video-select a.video-link, .testimonial-videos .videos .video-select a.video-link {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .featured-videos .videos .video-select a.video-link:not([data-play-type="modal"]):before, .testimonial-videos .videos .video-select a.video-link:not([data-play-type="modal"]):before {
        content: attr(data-title);
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        padding: 5px;
        background: rgba(186, 146, 53, 0.7);
        font-size: .9em;
        color: #fff;
        text-shadow: 2px 1px 2px #000;
        font-weight: 600; }
      @media (min-width: 601px) {
        .featured-videos .videos .video-select a.video-link:not([data-play-type="modal"]):before, .testimonial-videos .videos .video-select a.video-link:not([data-play-type="modal"]):before {
          content: attr(data-title);
          position: absolute;
          top: 100%;
          bottom: auto;
          transform: translateY(-50%);
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          text-align: center;
          opacity: 0;
          z-index: 2;
          transition: top 200ms, opacity 200ms;
          background: rgba(186, 146, 53, 0); } }
  @media (min-width: 601px) and (min-width: 1024px) {
    .featured-videos .videos .video-select a.video-link:not([data-play-type="modal"]):before, .testimonial-videos .videos .video-select a.video-link:not([data-play-type="modal"]):before {
      font-size: 1.2em; } }
      @media (min-width: 601px) {
        .featured-videos .videos .video-select a.video-link:not([data-play-type="modal"]):after, .testimonial-videos .videos .video-select a.video-link:not([data-play-type="modal"]):after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          background: rgba(186, 146, 53, 0.7);
          transition: top 200ms, opacity 200ms; } }
      .featured-videos .videos .video-select a.video-link:not([data-play-type="modal"]):hover, .testimonial-videos .videos .video-select a.video-link:not([data-play-type="modal"]):hover {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
        @media (min-width: 601px) {
          .featured-videos .videos .video-select a.video-link:not([data-play-type="modal"]):hover:before, .testimonial-videos .videos .video-select a.video-link:not([data-play-type="modal"]):hover:before {
            top: 50%;
            opacity: 1; }
          .featured-videos .videos .video-select a.video-link:not([data-play-type="modal"]):hover:after, .testimonial-videos .videos .video-select a.video-link:not([data-play-type="modal"]):hover:after {
            top: 0%;
            opacity: 1; } }
  .featured-videos .videos.constrain, .testimonial-videos .videos.constrain {
    padding: 10px 0; }
    .featured-videos .videos.constrain .video-select, .testimonial-videos .videos.constrain .video-select {
      margin: 10px;
      width: calc(100% - 20px); }
      @media (min-width: 601px) {
        .featured-videos .videos.constrain .video-select, .testimonial-videos .videos.constrain .video-select {
          margin: 0 10px;
          width: calc(33.3333% - 20px); } }

@supports (display: grid) {
  .featured-videos .videos.gridify ul {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(1, 100%); }
    @media (min-width: 601px) {
      .featured-videos .videos.gridify ul {
        grid-template-columns: repeat(3, 33.3333%); } }
    .featured-videos .videos.gridify ul .video-select {
      width: 100%; } }
.client-logos {
  height: 75px; }
  .client-logos .slide {
    display: inline-block;
    vertical-align: top;
    text-align: center; }
    .client-logos .slide a {
      display: block;
      height: 75px; }
    .client-logos .slide .client-logo {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

.contact-information .constrain {
  padding: 15px 0;
  margin: 10px auto;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD; }
  @media (min-width: 601px) {
    .contact-information .constrain {
      padding: 30px 0;
      margin: 20px auto;
      white-space: nowrap; } }
  .contact-information .constrain .address, .contact-information .constrain .contacts {
    display: inline-block;
    padding: 5px 20px;
    width: 100%; }
    @media (min-width: 601px) {
      .contact-information .constrain .address, .contact-information .constrain .contacts {
        width: auto;
        text-align: left;
        padding: 0 30px; } }
    @media (min-width: 768px) {
      .contact-information .constrain .address, .contact-information .constrain .contacts {
        padding: 0 60px; } }
    @media (min-width: 1024px) {
      .contact-information .constrain .address, .contact-information .constrain .contacts {
        padding: 0 100px; } }
    .contact-information .constrain .address span, .contact-information .constrain .contacts span {
      display: block;
      font-size: 1.1em;
      line-height: 1.5em; }

.contact-form {
  padding-bottom: 20px; }
  .contact-form .contact-form-wrapper input, .contact-form .contact-form-wrapper textarea, .contact-form .contact-form-wrapper button {
    outline: 0; }
  .contact-form .contact-form-wrapper input, .contact-form .contact-form-wrapper textarea {
    font-size: 1em;
    border-radius: 5px;
    border: #ccc 1px solid;
    padding: 5px; }
    .contact-form .contact-form-wrapper input::placeholder, .contact-form .contact-form-wrapper textarea::placeholder {
      color: #ccc; }
  .contact-form .contact-form-wrapper input {
    width: 100%;
    margin: 5px 2.5px 0; }
  .contact-form .contact-form-wrapper textarea {
    margin: 5px 0;
    width: 100%;
    height: 150px;
    resize: none; }
  .contact-form .contact-form-wrapper button {
    width: 100%; }
  @media (min-width: 601px) {
    .contact-form .contact-form-wrapper input, .contact-form .contact-form-wrapper textarea {
      font-size: 1.2em;
      border-radius: 10px;
      padding: 10px; }
    .contact-form .contact-form-wrapper input {
      width: calc(50% - 10px); }
    .contact-form .contact-form-wrapper textarea {
      width: calc(100% - 10px); }
    .contact-form .contact-form-wrapper button {
      width: 200px; } }
  @media (min-width: 1377px) {
    .contact-form .contact-form-wrapper button {
      width: 250px; } }

.portfolio-index .filters {
  padding-top: 10px;
  padding-bottom: 20px; }
  .portfolio-index .filters button.button {
    width: calc(50% - 10px);
    margin: 5px;
    font-size: 1em; }
    @media (min-width: 601px) {
      .portfolio-index .filters button.button {
        width: calc(25% - 10px); } }
    @media (min-width: 768px) {
      .portfolio-index .filters button.button {
        font-size: 1.15em; } }

.video-player-section {
  position: relative;
  top: -70px;
  margin-bottom: -70px; }
  @media (max-width: 600px) {
    .video-player-section {
      top: -40px;
      margin-bottom: -40px; } }
  @media (min-width: 601px) {
    .video-player-section {
      top: -60px;
      margin-bottom: -60px; } }
  .video-player-section .video-player {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

.video-info {
  padding-bottom: 20px; }
  .video-info h1 {
    margin-bottom: 0; }
  .video-info .client {
    display: block;
    font-size: 1.2em;
    color: #949494; }
  .video-info .watch-more-cta {
    margin-top: 20px; }

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  z-index: 999; }
  .modal .modal-close {
    background: none;
    background-image: url("/assets/images/icons/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.5;
    transition: opacity 250ms; }
    .modal .modal-close:hover, .modal .modal-close:focus {
      opacity: 1; }
  .modal .modal-content {
    width: 80%;
    max-height: 95vh;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .modal .modal-content:after {
      content: '';
      padding-bottom: 56.25%;
      width: 100%;
      display: block; }
    .modal .modal-content iframe {
      width: 100%;
      height: 100%;
      position: absolute; }
  .modal .modal-overlay {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%; }

html.modal-show body {
  overflow: hidden; }
html.modal-show .modal {
  display: block; }

footer {
  color: #fff;
  background: #000;
  padding: 10px;
  font-size: 0.75em; }
  @media (min-width: 768px) {
    footer {
      font-size: 0.85em; } }
  footer a {
    color: #fff;
    margin: 0 4px 0 0; }
    footer a:not(:last-child):after {
      content: '|';
      margin: 0 0 0 8px;
      color: #fff; }
  footer .contents .half-width {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center; }
    @media (min-width: 601px) {
      footer .contents .half-width:first-child {
        width: 220px; }
      footer .contents .half-width:last-child {
        width: calc(99% - 220px); }
      footer .contents .half-width.text-left {
        text-align: left; }
      footer .contents .half-width.text-right {
        text-align: right; } }
  footer .contents .address-and-phone {
    white-space: nowrap; }
    footer .contents .address-and-phone .address {
      margin-right: 20px;
      margin-top: 5px; }
      @media (min-width: 601px) {
        footer .contents .address-and-phone .address {
          margin-right: 10px;
          margin-top: 0; } }
      @media (min-width: 768px) {
        footer .contents .address-and-phone .address {
          margin-right: 20px; } }
    footer .contents .address-and-phone .address, footer .contents .address-and-phone .phone {
      display: inline-block;
      vertical-align: middle; }
      footer .contents .address-and-phone .address span, footer .contents .address-and-phone .phone span {
        display: block; }
  footer .copyright {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    margin-top: 5px; }

/*# sourceMappingURL=application.css.map */
